.banner-home{
    padding: 0 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    .slider-home{
        width: 70%;
        padding-right: 5px;
        min-height: 394px;
        max-height: 394px;
        overflow: hidden;
        img{
            width: 104%;
        }
    }
    .banner-small{
        width: 30%;
        height: 100%;
        padding-left: 5px;
        img{
            width: 100%;
        }
        .item-banner-img{
            max-height: 195px;
            overflow: hidden;
            &:nth-child(1){
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .banner-home{
        .slider-home{
            width: 100%;
            padding: 0;
            min-height: unset;
            max-height: unset;
            img{
                width: 100%;
            }
        }
        .banner-small{
            width: 100%;
            height: auto;
            padding: 0;
            display: flex;
            margin-top: 10px;
            display: none;
            img{
                width: 100%;
            }
            .item-banner-img{
                width: 50%;
                max-height: unset;
                &:nth-child(1){
                    padding-right:7px;
                }
                &:nth-child(2){
                    padding-left: 7px;
                }
            }
        }
    }
}
.bg-dark-custom{
    background-color: #f5f5f5;
}